
body, html {
    margin: 0;
}
header {

    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 10;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);


}
header a{
    color:black;
    text-decoration: none;
}
.block-1 {
    padding-top: 100px;
    width: 100%;
    height: 600px;
    background: url("images/bg2.jpg") no-repeat;
    background-size: cover;
}
.block-1 h1 {
    text-align: center;
    padding-top: 200px;
    color: white;
    font-size: 80px;
    text-shadow: black 0 0 2px;
    font-family: 'Montserrat', sans-serif;
}
.cont3 {
    width: 50%;
    margin-left: 25%;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: justify;
}


.cont1 {
    width: 100%;
    background: white;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    
}
.cont2 {
    text-align: center;
    width:60%;
    margin-left: 20%; 

}
.cont2 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: gray;
    text-align: center;
}
.cont2 p {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}
.circle {
    width: 70%;
    margin-left: 15%;
    height: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-top: 2px solid lightgray; 
    border-bottom: 2px solid lightgray; 
    text-align: center;

}
.circle1 {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid lightgray;

    margin-left: 5%;
    margin-top: 50px;
    color:gray;
    text-align: center;
    display: inline-block;
}
.circle1:nth-child(1) {
    margin-left: none;
}
.circles {
    width: 80%;

    text-align: center;
    display: inline-block;
}

.circle1 i {
    margin-top: 15px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  border: 5px solid lightgray;
  background: lightgray;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.blockquet {
    width:50%;
    margin-top: 100px;
    margin-bottom: 100px;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    height: 150px; 
    margin-left: 25%;
}
.blockquet h2 {
    color: lightgray;
    font-size: 50px;
    text-align: center;
    text-shadow: black 0 0 1px;
}
#map {
    width: 80%;
    height: 600px;
    margin: 0 10%;
    margin-top: 100px;
    border: 1px solid gray;
    margin-bottom: 50px;
}
footer {
    width: 100%; 
    height: 100px;
    background: black;
}
header h2 {
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    padding-left: 30px;
    margin-top: 25px; 
    float: left;
}

.menu {
    float: right;
    width: 150px;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-top: 35px; 
    text-align: center;
}
.hidemenu {
    display: none;
    float: right;
    
}
.hidemenu ul {

    position: absolute;
    width: 135px;
    height:125px;
    background: white;
    right: 0;
    top:65px;
    list-style: none;
 /*   box-shadow: 5px 5px rgba(0,0,0,0.5);*/
    z-index: 11;

}
.menu:hover {
    background: rgb(240, 239, 239);
}
.men{
    position: relative;
    right: 50px;
    top: 25px;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
#ci1:hover {
    box-shadow: 0px 0px 5px black;
    border: 1px solid #507299;
    color: #507299
}
#ci2:hover {
    box-shadow: 0px 0px 5px black;
    border: 1px solid #507299;
    color: white;
    background: url("images/bg3.jpg");
    background-size: cover; 
}
.transition:hover {
    transition: 0.5s;
  }
#ci3:hover {    
    box-shadow: 0px 0px 5px black;
    border: 1px solid #bb0000;
    color: white;
    background: #bb0000;
}
#ci4:hover {    
    box-shadow: 0px 0px 5px black;
    border: 1px solid #6d84b4;
    color: #3b5998;
}
.footmenu {
    margin-left: 5%;
}
.footmenu p {
    color:white;
    margin-top: 22px;
    font-family: 'Montserrat', sans-serif;
    float: left;
    font-size:20px;

}
.footmenu i {
    color: white;
    margin-right: 5px;
    margin-top: 20px;
    float: left;

}
.me-cop {
    font-size: 10px;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    top: 80px;
    right:80px;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width:910px) {
    .block-1 {
        height:400px;
    }
    .block-1 h1 {
        font-size:40px;
        padding-top:125px;
    }

    .blockquet h2 {
        font-size: 40px;
        margin-top:50px;
    }
    #map {
        height:400px;
    }

    .circles {
        width: 100%;
    }  
    .me-cop {
        font-size:8px;
    }
}
@media screen and (max-width:660px) {
    .block-1 {
        height:300px;
    }
    .block-1 h1 {
        font-size:40px;
        padding-top:100px;
    }

    .blockquet h2{
        font-size:30px;
        margin-top: 35px; 
    } 
    .blockquet {
        height: 100px;

    }
    .cont2 h2 {
        font-size: 28px;
    }
    .cont3 p {
        font-size: 20px;
    }
    .cont2 p {
        font-size: 20px
    }
    #map {
        height:300px;
    }
    .menu {
        display: none;
    }
    .hidemenu {
        display: block;

    }

}
@media screen and (max-width:440px) {
    .block-1 {
        height:250px;
    }
    .block-1 h1 {
        font-size:40px;
        padding-top:60px;
    }
    #map {
        height:200px;
        margin-top:50px;
    }


}

@media screen and (max-width:1080px) { 
    .circle1  {
        height: 50px;
        width: 50px;
        font-size: 50%;
        margin-top: 25px;
    }
    .circle1 i {
        margin-top: 7.5px;
    }
    .circle {
        height: 100px;
    }
}
@media screen and (max-width:500px){
    .blockquet {
        width: 80%;
        margin-left:10%;
        margin-bottom: 40px;


    }
    .blockquet h2 {
        font-size: 25px;
    }
    .footmenu p  {
        display: none;
    }    

}
@media screen and (max-width:540px){
    .me-cop {
        font-size:6px;
    }
}
@media screen and (max-width:380px) {
    .circle1  {
        height: 40px;
        width: 40px;
        font-size: 40%;
        margin-top: 20px;
    }
    .circle1 i {
        margin-top: 6px;
    }
    .circle {
        height: 80px;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 80%;
        margin-left:10%;
    }

}

@media screen and (max-width:362px) {
    .block-1 {
        height:180px;
        background-position: 0 20px; 
    }
    .block-1 h1 {
        font-size:30px;
        padding-top:20px;
    }
    .cont2 h2 {
        font-size: 26px;
    }

    header {
        height: 80px;
    }
    .cont2 {
        width: 80%;
        margin-left:10%; 
    }
    .cont3 {
        width: 80%;
        margin-left:10%; 
    }
    header h2 {
        margin-top: 15px;
    }
}
@media screen and (max-width:320px) {

}